.dashboard-background {
  background-image: url('/images/dash.jpeg'); /* Put your image inside public/ folder */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding-top: 50px;
  padding-bottom: 50px;
}

.card {
  background-color: rgba(255, 255, 255, 0.9); /* Light white background for card */
  border-radius: 12px;
}

h2 {
  font-weight: bold;
  color:red;
}
.custom-dashboard-heading {
  font-size: 2.5rem; /* Bigger size */
  color:black; /* Nice Bootstrap primary blue */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Optional: light shadow for depth */
}
